* {
  font-family: "Poppins", sans-serif; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #cddbed; }
  .navbar img {
    max-width: 100px;
    max-height: 100px; }

#navbarNav {
  padding: 0px 30px;
  font-size: 18px;
  color: #050505; }

#imgNav {
  margin-left: 15px; }

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 32px;
  background: rgba(18, 28, 47, 0.95); }
  .footer-content img {
    max-width: 200px;
    max-height: 100px;
    margin-bottom: 8px; }
  .footer-content p {
    max-width: 400px;
    max-height: 200px;
    color: white; }
  .footer-content b {
    color: white;
    padding-top: 6px; }
  .footer-content li {
    text-decoration: none;
    list-style: none; }

.menu {
  display: flex;
  flex-direction: column;
  align-items: center; }

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(9, 16, 29, 0.95); }
  .copyright a {
    color: white;
    text-decoration: none;
    padding-top: 8px;
    font-size: 14px; }

.carousel img {
  max-width: 100%;
  max-height: 880px; }

.carousel-inner a {
  position: absolute;
  bottom: 60px;
  left: 890px; }

.flex-contenido {
  padding-top: 10px;
  background: linear-gradient(180deg, white 0%, #c3c4c6 38%, #b4b6b7 57%, #959696 73%);
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contenedor img {
    width: 800px;
    height: 500px; }
  .contenedor h1 {
    font-size: 40px; }
  .contenedor h2 {
    font-size: 40px; }

.mini-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mini-contenedor a {
    font-size: 50px;
    color: black;
    text-decoration: none; }
  .mini-contenedor p {
    width: 700px; }

.tienda-contenido {
  background: linear-gradient(180deg, white 0%, #c3c4c6 38%, #b4b6b7 57%, #959696 73%); }

.cayenne-contenido img {
  max-width: 1100px;
  max-height: 500px; }

.texto a {
  text-decoration: none;
  font-size: 70px;
  color: black; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.carousel-porscheuy {
  max-width: 100%; }

.porsche-uy {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, white 0%, #c3c4c6 38%, #b4b6b7 57%, #959696 73%); }

.porsche-uy-contenido {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "h2 img" "p img";
  padding: 30px 15px; }
  .porsche-uy-contenido h1 {
    grid-area: h2;
    margin-left: 30px; }
  .porsche-uy-contenido h2 {
    grid-area: h2;
    margin-left: 30px; }
  .porsche-uy-contenido p {
    grid-area: p;
    margin-left: 30px; }
  .porsche-uy-contenido img {
    grid-area: img;
    max-width: 600px;
    max-height: 300px;
    margin-left: 200px;
    padding-top: 150px; }

.carousel-caption {
  bottom: 4rem; }

.galeria-examples-1 {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.galeria-examples-1 img {
  max-width: 450px;
  max-height: -450px;
  padding: 0px 16px; }

.formulario {
  display: flex;
  justify-content: center;
  background-image: url(../media/porsche-contacto.jpg);
  background-size: 100% 1000px;
  background-repeat: no-repeat; }
  .formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    height: 1000px; }
  .formulario title {
    display: flex;
    color: #f8f8f8;
    font-size: 40px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 15%; }
  .formulario input {
    margin-top: 10px;
    margin-bottom: 20px; }
  .formulario button {
    margin-top: 10px;
    margin-bottom: 20px; }

@media (min-width: 320px) and (max-width: 768px) {
  .navbar img {
    max-width: 100px;
    max-height: 100px; }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor img {
      width: 320px;
      height: 200px; }
    .contenedor h1 {
      font-size: 20px; }
    .contenedor h2 {
      font-size: 20px; }
    .contenedor p {
      max-width: 250px;
      font-size: 12px; }
  .flex-row {
    display: flex;
    flex-direction: column !important;
    align-items: center; }
    .flex-row img {
      max-width: 260px;
      max-height: 200px; }
  .texto p {
    max-width: 240px;
    font-size: 10px; }
  .texto h1 {
    font-size: 20px; }
  .texto h2 {
    font-size: 20px; }
  .porsche-uy-contenido {
    display: flex;
    flex-direction: column; }
    .porsche-uy-contenido img {
      display: none; }
    .porsche-uy-contenido p {
      font-size: 10px;
      max-width: 250px; }
  .galeria-examples-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px; }
    .galeria-examples-1 img {
      max-width: 320px;
      max-height: 320px;
      padding: 0px 0px;
      margin: 0px 0px; }
  .formulario {
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .formulario form {
      padding: 5px;
      max-width: 300px;
      max-height: 300px; }
    .formulario h1 {
      font-size: 20px; } }

@media (min-width: 769px) and (max-width: 1440px) {
  .contenedor img {
    width: 450px;
    height: 300px; }
  .contenedor h1 {
    font-size: 30px; }
  .contenedor h2 {
    font-size: 30px; }
  .contenedor p {
    max-width: 300px;
    font-size: 15px; }
  .flex-row img {
    max-width: 460px;
    max-height: 300px; }
  .texto p {
    max-width: 780px;
    font-size: 15px; }
  .texto .texto h1 {
    font-size: 20px; }
  .texto .texto h2 {
    font-size: 20px; }
  .porsche-uy-contenido {
    display: flex;
    flex-direction: column; }
    .porsche-uy-contenido img {
      display: none; }
    .porsche-uy-contenido p {
      font-size: 20px;
      max-width: 700px; }
  .galeria-examples-1 {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .galeria-examples-1 img {
      max-width: 260px;
      max-height: 280px; }
  .formulario {
    background-size: 100% 400px;
    background-repeat: no-repeat;
    padding-top: 16px; }
    .formulario form {
      height: 300px; }
    .formulario h1 {
      font-size: 30px; }
    .formulario input {
      max-width: 250px; }
    .formulario textarea {
      max-width: 250px; } }

/* -------------- FOOTER ---------------- */
@media screen and (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .footer-content img {
      max-width: 100px;
      max-height: 80px;
      display: none; }
  .p-footer {
    display: none; }
  h3 {
    display: none; }
  .copyright p {
    font-size: 8px; } }
