// GALERIA ESTILOS //

.carousel-caption {
    bottom: 4rem;
}

@mixin galeria-example ($margin, $display, $flex-direction, $justify-content) {
    margin: $margin;
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

.galeria-examples-1 {
    @include galeria-example (40px 0px, flex, row, center)
}


@mixin galeria-example-img ($max-width, $max-height, $padding) {
    max-width: $max-width;
    max-height: $max-height;
    padding: $padding;
}

.galeria-examples-1 img {
    @include galeria-example-img(450px, -450px, 0px 16px)
}