// MEDIAQUERYS  //

// INDEX //
@media (min-width: 320px) and (max-width: 768px) {

    .navbar img {
        display: none
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor img {
        width: 320px;
        height: 200px;
    }

    .contenedor h1 {
        font-size: 20px;
    }

    .contenedor h2 {
        font-size: 20px;
    }

    .contenedor p {
        max-width: 250px;
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .contenedor img {
        width: 450px;
        height: 300px;
    }

    .contenedor h1 {
        font-size: 30px;
    }

    .contenedor h2 {
        font-size: 30px;
    }

    .contenedor p {
        max-width: 300px;
        font-size: 15px;
    }
}

/* -------------- TIENDA ---------------- */
@media (min-width: 320px) and (max-width: 768px) {

    .flex-row {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .flex-row img {
        max-width: 260px;
        max-height: 200px;
    }

    .texto p {
        max-width: 240px;
        font-size: 10px;
    }

    .texto h1 {
        font-size: 20px;
    }

    .texto h2 {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {

    .flex-row img {
        max-width: 460px;
        max-height: 300px;
    }

    .texto p {
        max-width: 780px;
        font-size: 15px;
    }

    .texto h1 {
        font-size: 20px;
    }

    .texto h2 {
        font-size: 20px;
    }

}

/* -------------- PORSCHE UY ---------------- */
@media (min-width: 320px) and (max-width: 768px) {

    .porsche-uy-contenido {
        display: flex;
        flex-direction: column;
    }

    .porsche-uy-contenido img {
        display: none;
    }

    .porsche-uy-contenido p {
        font-size: 10px;
        max-width: 240px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {

    .porsche-uy-contenido {
        display: flex;
        flex-direction: column;
    }

    .porsche-uy-contenido img {
        display: none;
    }

    .porsche-uy-contenido p {
        font-size: 20px;
        max-width: 700px;
    }
}

/* -------------- CONTACTO --------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .formulario {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .formulario form {
        padding: 5px;
        max-width: 300px;
        max-height: 300px;
    }

    .formulario h1 {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .formulario {
        background-size: 100% 400px;
        background-repeat: no-repeat;
        padding-top: 16px;
    }


    .formulario form {
        height: 300px;
    }

    .formulario h1 {
        font-size: 30px;
    }

    .formulario input {
        max-width: 250px;
    }

    .formulario textarea {
        max-width: 250px;
    }
}



/* -------------- FOOTER ---------------- */

@media screen and (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p-footer {
        display: none;
    }

    h3 {
        display: none;
    }

    .footer-content img {
        max-width: 100px;
        max-height: 80px;
    }

    .copyright p {
        font-size: 8px;
    }
}