// MEDIAQUERYS  //

@media (min-width: 320px) and (max-width: 768px) {

    // INDEX
    .navbar img {
        max-width: 100px;
        max-height: 100px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 320px;
            height: 200px;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            max-width: 250px;
            font-size: 12px;
        }
    }

    // TIENDA

    .flex-row {
        display: flex;
        flex-direction: column !important;
        align-items: center;

        img {
            max-width: 260px;
            max-height: 200px;
        }
    }

    .texto {
        p {
            max-width: 240px;
            font-size: 10px;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 20px;
        }
    }

    // PORSCHE-UY

    .porsche-uy-contenido {
        display: flex;
        flex-direction: column;

        img {
            display: none;
        }

        p {
            font-size: 10px;
            max-width: 250px;
        }
    }

    // GALERIA

    .galeria-examples-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2px;

        img {
            max-width: 320px;
            max-height: 320px;

            padding: 0px 0px;
            margin: 0px 0px;
        }
    }

    // CONTACTO

    .formulario {
        background-size: 100% 100%;
        background-repeat: no-repeat;

        form {
            padding: 5px;
            max-width: 300px;
            max-height: 300px;
        }

        h1 {
            font-size: 20px;
        }
    }

}

@media (min-width: 769px) and (max-width: 1440px) {

    // INDEX
    .contenedor {

        img {
            width: 450px;
            height: 300px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            max-width: 300px;
            font-size: 15px;
        }
    }

    // TIENDA
    .flex-row img {
        max-width: 460px;
        max-height: 300px;
    }

    .texto {

        p {
            max-width: 780px;
            font-size: 15px;
        }

        .texto h1 {
            font-size: 20px;
        }

        .texto h2 {
            font-size: 20px;
        }
    }

    // PORSCHE-UY

    .porsche-uy-contenido {
        display: flex;
        flex-direction: column;

        img {
            display: none;
        }

        p {
            font-size: 20px;
            max-width: 700px;
        }
    }

    // GALERIA

    .galeria-examples-1 {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            max-width: 260px;
            max-height: 280px;
        }
    }

    // CONTACTO

    .formulario {
        background-size: 100% 400px;
        background-repeat: no-repeat;
        padding-top: 16px;

        form {
            height: 300px;
        }

        h1 {
            font-size: 30px;
        }

        input {
            max-width: 250px;
        }

        textarea {
            max-width: 250px;
        }
    }
}


/* -------------- FOOTER ---------------- */

@media screen and (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            max-width: 100px;
            max-height: 80px;
            display: none;
        }
    }

    .p-footer {
        display: none;
    }

    h3 {
        display: none;
    }

    .copyright p {
        font-size: 8px;
    }
}